* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.header-bg{
  background: red;
  height: 60px;
}
.primary-nav-bar {
  position: absolute;
  top: 54px;
  height: 40px;
  left: 0;
  width: 100%;
  padding-left: 26px;
  list-style: none;
  background-color: darkred;
  margin: 0;
}
.nav-bar {
  background: black;
  padding-top: 4px;
  height: 42px;
  position: absolute;
  top: 7px;
  left: 19px;
  min-width: 10%;
}
.second-nav {
  text-align: center;
  left: 10%;
  top: 7px;
}
.input-box {
  margin: auto;
  width: 50%;
  border: 0px;
  padding: 10px;
  background-color: darkred; 
}
.search-icon {
  position: relative;
  right: 39px;
}
.customer-background {
  background: url(images/B&W_bg.jpg) right center / cover no-repeat;
  min-height: 310px;
  display: flex;
}
.marketing-content {
  position: absolute;
  top: 20%;
  left: 1%;
  color: white;
  width: 50%;
}
.content-header {
  font-size: 29px
}
.img-container {
  position: absolute;
  right: 0;
  top: 16%;
}
.can-images {
  height: 250px;
}
.overlap-div {
  margin-top: -2%;
}
.color-boxes {
  padding: 5px;
}
.block-one-color {
  background-color: #35D3B4;
}
.block-two-color {
  background-color: #1B2191;
}
.block-three-color {
  background-color: #D822EE;
}
.block-four-color {
  background-color: blue;
}
.color-container {
  height: 150px;
  text-align: center;
  color: white;
  font-size: 18px;
  border: 10px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 0.6px lightgray;
}
.color-code {
  position: relative;
  top: 38%;
}
.footer-container {
  padding-left: 15%;
}
#aap-footer {
  background: #333;
  width: 100%;
}
/** Media Queries */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .nav-bar {
    background: black;
    height: 42px;
    position: absolute;
    top: 7px;
    left: 6px;
    min-width: 14%;
  }
  .second-nav {
    position: absolute;
    padding: 0;
    left: 1%;
    top: 7px;
    width: 100%;
  }
  .input-box {
    margin: auto;
    width: 52%;
    border: 0px;
    padding: 10px;
    background-color: darkred;
  }
  #aap-mobile-phones {
    display: none;
  }
  #aap-tablet {
    display: none;
  }
  #aap-non-tablet {
    display: block;
  }
  .footer-container-tablet {
    display: block;
    padding-top: 28px;
  }
  .footer-container {
    display: none;
  }
  .footer-list-header, a {
    color: white;
  }
  
  .footer-box-1 {
    float: left;
    left: 23%;
    width: 50%;
  }
  .footer-box-2 {
    float: right;
    left: 7%;
    width: 50%;
  }
  .footer-list-links {
    padding-left: 0px;
  }  
  .footer-container-desktop {
    display: block;
    padding-top: 41px;
  }
  .footer-container-mobile,
  .footer-container-tablet {
    display: none;
  }
  #aap-footer {
    min-height: 152px;
    margin-top: 8%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .nav-bar {
    background: black;
    height: 42px;
    position: absolute;
    top: 7px;
    left: 6px;
    min-width: 14%;
  }
  .second-nav {
    position: absolute;
    padding: 0;
    left: 1%;
    top: 7px;
    width: 100%;
  }
  .input-box {
    margin: auto;
    width: 52%;
    border: 0px;
    padding: 10px;
    background-color: darkred;
  }
  .customer-background {
    min-height: 320px;
    display: flex;
  }
  .marketing-content {
    position: absolute;
    top: 11%;
    left: 2%;
    color: white;
    width: 50%;
  }
  #aap-mobile-phones {
    display: none;
  }
  #aap-tablet {
    display: none;
  }
  #aap-non-tablet {
    display: block;
  }
  .footer-list-header, a {
    color: white;
  }
  .footer-box-1 {
    float: left;
    left: 23%;
    width: 50%;
  }
  .footer-box-2 {
    float: right;
    left: 7%;
    width: 50%;
  }
  .footer-list-links {
    padding-left: 0px;
  }  
  .footer-container-desktop {
    display: block;
    padding-top: 41px;
  }
  .footer-container-mobile,
  .footer-container-tablet {
    display: none;
  }
  #aap-footer {
    min-height: 152px;
    margin-top: 8%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ********These are for exact tablets
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-bar {
    background: black;
    padding-top: 4px;
    height: 42px;
    position: absolute;
    top: 7px;
    left: 12px;
    min-width: 20%;
  }
  .second-nav {
    position: absolute;
    padding: 0;
    left: 1%;
    top: 7px;
    width: 100%;
  }
  .input-box {
    margin: auto;
    width: 52%;
    border: 0px;
    padding: 10px;
    background-color: darkred;
  }
  .marketing-content {
    padding: 38px;
    color: white;
    width: 50%;

    position: initial;
    top: 7%;
    left: 0;
  }
  .content-header {
    font-weight: 100;
  }
  .img-container {
    position: absolute;
    right: 0;
    top: 16%;
  }
  #aap-mobile-phones {
    display: none;
  }
  #aap-tablet {
    display: block;
    margin-top: 8%;
  }
  #aap-non-tablet {
    display: none;
  }
  .color-boxes {
    width: 38%;
  }
  .color-box1 {
    float: left;
    left: 5%;
  }
  .color-box2 {
    float: right;
    right: 5%;
  }
  .color-box3 {
    left: 30%;
    right: 15%;
    margin-top: 2%;
  }
  
  .footer-container-tablet {
    display: block;
    padding-top: 28px;
  }
  .footer-container,
  .footer-container-desktop {
    display: none;
  }
  .footer-list-header, a {
    color: white;
  }
  
  .footer-box-1 {
    float: left;
    left: 23%;
    width: 50%;
  }
  .footer-box-2 {
    float: right;
    left: 7%;
    width: 50%;
  }
  .footer-list-links {
    padding-left: 0px;
  }  
  .footer-container-tablet {
    display: block;
  }
  .footer-container-mobile,
  .footer-container-desktop {
    display: none;
  }
  #aap-footer {
    min-height: 152px;
    margin-top: 8%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  ********These are for tablets with resolution
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #aap-tablet {
    display: block;
    margin-top: 8%;
  }
  #aap-mobile-phones {
    display: none;
  }
  #aap-non-tablet {
    display: none;
  }
  .color-boxes {
    width: 38%;
  }
  .color-box1 {
    float: left;
    left: 5%;
  }
  .color-box2 {
    float: right;
    right: 5%;
  }
  .color-box3 {
    left: 30%;
    right: 15%;
    margin-top: 2%;
  }
  .img-container {
    position: absolute;
    right: 0;
    top: 25%;
  }
  .nav-bar {
    background: black;
    padding-top: 4px;
    height: 42px;
    position: absolute;
    top: 7px;
    left: 12px;
    min-width: 20%;
  }
  .second-nav {
    position: absolute;
    padding: 0;
    left: 1%;
    top: 7px;
    width: 100%;
  }
  .input-box {
    margin: auto;
    width: 52%;
    border: 0px;
    padding: 10px;
    background-color: darkred;
  }
  .marketing-content {
    padding: 38px;
    color: white;
    width: 50%;
    position: initial;
    top: 7%;
    left: 0;
  }
  .content-header {
    font-weight: 100;
  }
  .footer-container {
    display: none;
  }
  .footer-container-tablet {
    display: block;
    padding-top: 28px;
  }
  .footer-container-mobile,
  .footer-container-desktop {
    display: none;
  }
  .footer-list-header, a {
    color: white;
  }
  .footer-box-1 {
    float: left;
    left: 23%;
    width: 50%;
  }
  .footer-box-2 {
    float: right;
    left: 7%;
    width: 50%;
  }
  .footer-list-links {
    padding-left: 0px;
  }
  #aap-footer {
    min-height: 152px;
    margin-top: 8%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  ****** These are for low resolution tablets
  **** now considering for mobiles only
*/
@media (min-width: 481px) and (max-width: 767px) {
  .nav-bar {
    background: black;
    padding-top: 4px;
    height: 42px;
    position: absolute;
    top: 7px;
    left: 3%;
    width: 13%;
  }
  .second-nav {
    position: absolute;
    /* left: 19%; */
    /* padding-top: 4px; */
    height: 42px;
    top: 7px;
    min-width: 105%
  }
  .input-box {
    margin: auto;
    width: 76%;
    border: 0px;
    padding: 10px;
    background-color: darkred;
  }
  .wrap {
    flex-direction: column;
  }
  .customer-background {
    min-height: 428px;
  }
  .marketing-content,
  .img-container {
    width: auto;
    position: static;
    margin-top: 20px;
    padding: 5px;
  }
  .marketing-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
  }
  .img-container {
    position: absolute;
    left: 21%;
    top: 45%;
  }
  .can-images {
    height: 224px;
  }
  h1 {
    font-size: 28px;
  }
  .content-header, p {
    font-weight: 100;
  }
  
  .color-container {
    width: 96%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px 0.6px lightgray;
  }
  .color-boxes {
    position: relative;
    left: 2%;
  }
  .color-code {
    display: none;
  }
  .overlap-div {
    margin-top: 12%;
  }
  .med-device-color {
    display: none;
  }
  
  #aap-tablet {
    display: none;
  }
  #aap-non-tablet {
    display: none;
  }
  #aap-mobile-phones {
    display: block;
    padding-top: 13%;
  }
  .can-images {
    height: 208px;
  }
  /** footer */
  .footer-container {
    left: 15px;
    padding-left: 26%;
    height: 250px;
  }
  .aap-footer-headers {
    color: white;
  } 
  a {
    color:white;
  }
  .footer-container-tablet,
  .footer-container-desktop {
    display: none;
  }
  .footer-container-mobile {
    display: block;
  }
  #aap-footer {
    margin-top: 20px;
    padding-top: 5%;
    padding-bottom: 20%;
    padding-left: 32%
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ### these are for all mobiles
*/

@media (min-width: 0px) and (max-width: 480px) {
  .nav-bar {
    background: black;
    padding-top: 4px;
    height: 42px;
    position: absolute;
    top: 7px;
    left: 3%;
    width: 13%;
  }
  .second-nav {
    position: absolute;
    /* left: 19%; */
    /* padding-top: 4px; */
    height: 42px;
    top: 7px;
    min-width: 105%
  }
  .input-box {
    margin: auto;
    width: 76%;
    border: 0px;
    padding: 10px;
    background-color: darkred;
  }
  .wrap {
    flex-direction: column;
  }
  .customer-background {
    min-height: 428px;
  }
  .marketing-content,
  .img-container {
    width: auto;
    position: static;
    margin-top: 20px;
    padding: 5px;
  }
  .marketing-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
  }
  .img-container {
    position: absolute;
    left: 6%;
    height: 93px;
    top: 45%;

  }
  h1 {
    font-size: 28px;
  }
  .content-header, p {
    font-weight: 100;
  }
  
  .color-container {
    width: 96%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px 0.6px lightgray;
  }
  .color-boxes {
    position: relative;
    left: 2%;
  }
  .color-code {
    display: none;
  }
  .overlap-div {
    margin-top: 12%;
  }
  .med-device-color {
    display: none;
  }
  
  #aap-tablet {
    display: none;
  }
  #aap-non-tablet {
    display: none;
  }
  #aap-mobile-phones {
    display: block;
    padding-top: 13%;
  }
  .can-images {
    height: 208px;
  }
  /** footer */
  .footer-container {
    left: 15px;
    padding-left: 26%;
    height: 250px;
  }
  .aap-footer-headers {
    color: white;
  } 
  a {
    color:white;
  }
  .footer-container-tablet,
  .footer-container-desktop {
    display: none;
  }
  .footer-container-mobile {
    display: block;
  }
  #aap-footer {
    margin-top: 20px;
    padding-left: 24%;
    padding-top: 5%;
    padding-bottom: 20%;
  }
}